/*
*	COPYRIGHT NOTICE:
*		this file and all of its attached files are property of the
*		Division of Performing Arts
*		North Dakota State University
*		unless otherwise stated  
*/



/*		guest artist styles */
div.guest_artist{
	position: static;
	display: block;
	
	float: left;
	clear: none;
	
	margin: 16px auto 0px auto;
	padding: 0px 0px 16px 0px;
	
	background: rgba(255,255,255,1);
	width: 20%;
	height: auto;
}

	div.guest_artist img.ga_image{
		position: static;
		display: block;
		
		margin: 0px auto;
		padding: 0px;

		background: rgba(255,255,255,1);
		width: 184px;
		height: auto;
	}

div.guest_artist_duo{
	position: static;
	display: block;
	
	float: left;
	clear: none;
	
	margin: 16px auto 0px auto;
	padding: 0px 0px 16px 0px;
	
	background: rgba(255,255,255,1);
	width: 40%;
	height: auto;
}

	div.guest_artist_duo img.ga_image{
		position: static;
		display: block;
		
		margin: 0px auto;
		padding: 0px;

		background: rgba(255,255,255,1);
		width: 400px;
		height: auto;
	}

	div.guest_artist a,
	div.guest_artist_duo a{
		position: static;
		display: block;
		
		margin: 0;
		padding: 0;
		
		width: 100%;
		height: 100%;
		
		text-decoration: none;
	}

	div.guest_artist p,
	div.guest_artist_duo p{
		margin: 0px 0px 0px 0px;
		padding: 16px 16px 0px 16px;
		
		color: rgba(0,110,90,1);
		font-size: 14px;
		line-height: 20px;
		font-weight: normal;
		text-decoration: none;
		text-align: left;
	}



/*		180px media query */
@media all
	and (min-width: 180px) 
	and (max-width: 319px){

div.guest_artist,
div.guest_artist_duo{
	float: none;
	clear: both;
	
	width: 100%;
}
	div.guest_artist img.ga_image,
	div.guest_artist_duo img.ga_image{
		width: 148px;
		height: auto;
	}
}



/*		320px media query */
@media all
	and (min-width: 320px) 
	and (max-width: 359px){

div.guest_artist,
div.guest_artist_duo{
	float: none;
	clear: both;
	
	width: 100%;
}
	div.guest_artist img.ga_image,
	div.guest_artist_duo img.ga_image{
		width: 288px;
		height: auto;
	}
}



/*		360px media query */
@media all
	and (min-width: 360px) 
	and (max-width: 539px){

div.guest_artist,
div.guest_artist_duo{
	float: none;
	clear: both;
	
	width: 100%;
}
	div.guest_artist img.ga_image,
	div.guest_artist_duo img.ga_image{
		width: 328px;
		height: auto;
	}
}



/*		540px media query */
@media all
	and (min-width: 540px) 
	and (max-width: 719px){

div.guest_artist{
	float: left;
	clear: none;
	
	width: 33.3333%;
}	
	div.guest_artist img.ga_image{
		width: 148px;
		height: 222px;
	}
		
div.guest_artist_duo{
	float: left;
	clear: none;
	
	width: 66.6666%;
}
	div.guest_artist_duo img.ga_image{
		width: 328px;
		height: 222px;
	}
}



/*		720px media query */
@media all
	and (min-width: 720px) 
	and (max-width: 959px){

div.guest_artist{
	float: left;
	clear: none;
	
	width: 33.3333%;
}	
	div.guest_artist img.ga_image{
		width: 208px;
		height: 312px;
	}
		
div.guest_artist_duo{
	float: left;
	clear: none;
	
	width: 66.6666%;
}
	div.guest_artist_duo img.ga_image{
		width: 448px;
		height: 312px;
	}
}



/*		960px media query */
@media all
	and (min-width: 960px) 
	and (max-width: 1079px){

div.guest_artist{
	float: left;
	clear: none;
	
	width: 33.3333%;
}	
	div.guest_artist img.ga_image{
		width: 288px;
		height: 432px;
	}
		
div.guest_artist_duo{
	float: left;
	clear: none;
	
	width: 66.6666%;
}
	div.guest_artist_duo img.ga_image{
		width: 608px;
		height: 432px;
	}
}



/*		1080px media query */
@media all
	and (min-width: 1080px) 
	and (max-width: 1279px){

div.guest_artist{
	float: left;
	clear: none;
}	
	div.guest_artist img.ga_image{
		width: 184px;
		height: 276px;
	}
		
div.guest_artist_duo{
	float: left;
	clear: none;
}
	div.guest_artist_duo img.ga_image{
		width: 400px;
		height: 276px;
	}
}



/*		1280px media query */
@media all
	and (min-width: 1280px) 
	and (max-width: 1439px){

div.guest_artist{
	float: left;
	clear: none;
}	
	div.guest_artist img.ga_image{
		width: 224px;
		height: 336px;
	}
		
div.guest_artist_duo{
	float: left;
	clear: none;
}
	div.guest_artist_duo img.ga_image{
		width: 480px;
		height: 336px;
	}
}



/*		1440px media query */
@media all
	and (min-width: 1440px) 
	and (max-width: 2559px){

div.guest_artist{
	float: left;
	clear: none;
}	
	div.guest_artist img.ga_image{
		width: 256px;
		height: 384px;
	}
		
div.guest_artist_duo{
	float: left;
	clear: none;
}
	div.guest_artist_duo img.ga_image{
		width: 544px;
		height: 384px;
	}
}



/*		2560px media query */
@media all
	and (min-width: 2560px){

div.guest_artist{
	float: left;
	clear: none;
}		
	div.guest_artist img.ga_image{
		width: 480px;
		height: 720px;
	}

div.guest_artist_duo{
	float: left;
	clear: none;
}
	div.guest_artist_duo img.ga_image{
		width: 992px;
		height: 720px;
	}		
}