/*
*	COPYRIGHT NOTICE:
*		this file and all of its attached files are property of the
*		Division of Performing Arts
*		North Dakota State University
*		unless otherwise stated  
*/

/*		body styles */
body{
	position: static;
	display: block;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(255,255,255,1); 
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: auto;
	
	font-family: Arial, "sans-serif";
	color: rgba(0,0,0,1);
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
}



/*		180px media query */
@media all
	and (min-width: 180px) 
	and (max-width: 319px){
		
}



/*		320px media query */
@media all
	and (min-width: 320px) 
	and (max-width: 359px){
		
}



/*		360px media query */
@media all
	and (min-width: 360px) 
	and (max-width: 539px){
		
}



/*		540px media query */
@media all
	and (min-width: 540px) 
	and (max-width: 719px){
		
}



/*		720px media query */
@media all
	and (min-width: 720px) 
	and (max-width: 959px){
		
}



/*		960px media query */
@media all
	and (min-width: 960px) 
	and (max-width: 1079px){
		
}



/*		1080px media query */
@media all
	and (min-width: 1080px) 
	and (max-width: 1279px){
	
}



/*		1280px media query */
@media all
	and (min-width: 1280px) 
	and (max-width: 1439px){
	
}



/*		1440px media query */
@media all
	and (min-width: 1440px) 
	and (max-width: 2559px){
	
}



/*		2560px media query */
@media all
	and (min-width: 2560px){
	
}