/*
*	COPYRIGHT NOTICE:
*		this file and all of its attached files are property of the
*		Division of Performing Arts
*		North Dakota State University
*		unless otherwise stated  
*/



/*		mobile navigation styles */
nav#_logo_nav_01{
	position: static;
	display: block;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(0,50,30,1);
	width: 100%;
	height: 48px;
}

nav#_logo_nav{
	position: static;
	display: block;
	
	margin: 0px auto;
	padding: 0px;
	
	background: rgba(0,50,30,1);
	width: 1080px;
	height: 48px;
}
	nav#_logo_nav #ndsu_logo{
		position: static;
		display: block;
		
		float: left;
		
		margin: 0;
		padding: 0;
	}

	nav#_logo_nav #performingarts_logo{
		position: static;
		display: block;
		
		float: right;
		
		margin: 0;
		padding: 0;
	}


/* 	------------------------------------------------
	search navigation styles

	INFORMATION:

	------------------------------------------------ */
nav#_search_nav_01{
	position: static;
	display: block;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(0,50,30,1);
	width: 100%;
	height: 56px;
	
	overflow: hidden;
}

nav#_search_nav{
	position: static;
	display: block;
	
	margin: 0px auto;
	padding: 0px;
	
	background: rgba(0,50,30,1);
	width: 1080px;
	height: 56px;
	
	overflow: hidden;
}

div#take_me_home{
	position: static;
	display: block;
	
	float: left;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(255,200,0,0);
	width: 320px;
	height: 56px;
}
	div#take_me_home div#home_button{
		position: static;
		display: block;

		float: left;

		margin: 17px 0px 0px 16px;
		padding: 0px;

		background: rgba(255,200,0,1);
		width: 70px;
		height: 25px;

		border-radius: 1px;
	}

	div#take_me_home div#home_text{
		position: static;
		display: block;

		float: left;
		
		margin: 0px;
		padding: 0px;
		
		background: rgba(255,200,0,0);
		width: 234px;
		height: 56px;
	}
		div#take_me_home div#home_text p{
			margin: 0px;
			padding: 19px 0px 0px 16px;

			color: rgba(255,255,255,1);
			font-size: 16px;
			font-style: normal;
			font-weight: normal;
			text-decoration: none;
			text-align: left;
			vertical-align: top;
		}

div#google_search{
	position: static;
	display: block;
	
	float: right;
	
	margin: 0px 0px 0px 0px;
	padding: 0px;
	
	background: inherit;
	width: 320px;
	height: 56px;
}

	div#google_search table{
		margin: 0px;
		padding: 0px;
		
		width: 100%;
		height: auto;
		
		border-collapse: collapse;
		border: none;
		border-spacing: 16px;
	}
		div#google_search table tr{
			margin: 0px;
			padding: 0px;
		}

			div#google_search table tr th, 
			div#google_search table tr td{
				margin: 0px 0px 0px 0px;
				padding: 0px;
				
				color: rgba(0,70,50,1);
				font-size: 16px;
				font-style: normal;
				font-weight: normal;
				text-decoration: none;
				text-align: left;
				vertical-align: top;
			}
				div#google_search table tr th{
					background: rgba(0,70,50,1);
					color: rgba(255,255,255,1);
					
					font-weight: normal;
				}

				div#google_search table tr th strong,
				div#google_search table tr th b,
				div#google_search table tr td strong,
				div#google_search table tr td b{
					font-weight: normal;
				}

				div#google_search table tr th a,
				div#google_search table tr td a{
					margin: 0;
					padding: 0;
					
					color: rgba(0,70,50,1);
					text-decoration: none;
				}



/* 	------------------------------------------------
	document navigation styles

	INFORMATION:

	------------------------------------------------ */
nav#_doc_nav_01{
	position: static;
	display: block;
	
	z-index: 12;
	
	top: 0px;
	left: 0px;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(255,200,0,1);
	width: 100%;
	height: 48px;
}

nav#_doc_nav_static{
	position: static;
	display: block;
	
	z-index: 13;
	
	margin: 0px auto;
	padding: 0px;
	
	background: rgba(255,200,0,1);
	width: 1080px;
	height: 48px;
}

nav#_doc_nav_absolute{
	position: absolute;
	display: block;
	
	z-index: 14;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(255,200,0,1);
	width: inherit;
	height: inherit;
}

nav#_doc_nav_computer{
	position: absolute;
	display: block;
	
	margin: 0px;
	padding: 0px;
	
	background: inherit;
	width: inherit;
	height: inherit;
}




section._doc_tab{
	position: static;
	display: block;
	
	float: left;
	
	top: 0px;
	left: 0px;
	
	margin: 0px;
	padding: 0px;
	
	background: rgba(255,200,0,1);
	width: 20%;
	height: 48px;
}
	section._doc_tab:hover{
		background: rgba(0,70,50,1);
	}



header._doc_tab_head{
	position: static;
	display: block;
	
	top: 0px;
	left: 0px;
	
	margin: 0px;
	padding: 0px;
	
	background: inherit;
	width: 100%;
	height: 48px;
}

	header._doc_tab_head a{
		position: static;
		display: block;

		margin: 0px;
		padding: 0px;
		
		width: 100%;
		height: 100%;
		
		text-decoration: none;
	}

	header._doc_tab_head p, 
	header._doc_tab_head a p{
		margin: 0px;
		padding: 16px 0px 0px 0px;
		
		color: rgba(0,70,50,1);
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		text-align: center;
	}
		section._doc_tab:hover header._doc_tab_head p,
		section._doc_tab:hover header._doc_tab_head a p,
		header._doc_tab_head:hover p,
		header._doc_tab_head:hover a p{
			color: rgba(255,255,255,1);
		}



section._doc_tab_dropdown{
	position: static;
	display: block;
	
	float: left;
	
	top: 0px;
	left: 0px;
	
	margin: 0px;
	padding: 0px;
	
	background: inherit;
	width: 100%;
	height: 0px;
	
	overflow: hidden;
}
	section._doc_tab:hover section._doc_tab_dropdown{
		height: auto;
	}

section#_music_dropdown{
	position: static;
	display: block;
	
	top: 0px;
	left: 0px;
	
	margin: 0%;
	padding: 0px;
	
	background: inherit;
	width: 400%;
	height: 0px;
	
	overflow: hidden;
}
	section._doc_tab:hover section#_music_dropdown{
		height: auto;
	}
	
	section#_music_dropdown > section._doc_tab_dropdown{
		width: 25%;
	}



section#_theatre_dropdown{
	position: static;
	display: block;
	
	top: 0px;
	left: 0px;
	
	margin: 0% 0% 0% -100%;
	padding: 0px;
	
	background: inherit;
	width: 400%;
	height: 0px;
	
	overflow: hidden;
}
	section._doc_tab:hover section#_theatre_dropdown{
		height: auto;
	}
	
	section#_theatre_dropdown > section._doc_tab_dropdown{
		width: 25%;
	}


article._doc_tab_head{
	position: static;
	display: block;
	
	top: 0px;
	left: 0px;
	
	margin: 0px;
	padding: 0px;
	
	background: inherit;
	width: 100%;
	height: auto;
}
	article._doc_tab_head p{
		margin: 0px;
		padding: 16px;
		
		color: rgba(255,255,255,1);
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		text-align: left;
	}



article._doc_tab_item{
	position: static;
	display: block;
	
	top: 0px;
	left: 0px;
	
	margin: 0px;
	padding: 0px;
	
	background: inherit;
	width: 100%;
	height: auto;
}
	article._doc_tab_item:hover{
		background: rgba(0,50,30,1);
	}

	article._doc_tab_item a{
		position: static;
		display: block;

		margin: 0px;
		padding: 0px;
		
		width: 100%;
		height: 100%;
		
		text-decoration: none;
	}

	article._doc_tab_item p, 
	article._doc_tab_item a p{
		margin: 0px;
		padding: 16px;
		
		color: rgba(255,255,255,1);
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		text-align: left;
	}



/* 	------------------------------------------------
	media queries

	INFORMATION:
		media queries are conditions set by the developer(s), 
		if the conditions are true, the styles found below the media query will be set.  
	------------------------------------------------ */
@media screen, print
	and (min-width: 180px) 
	and (max-width: 319px){
		
	nav#_logo_nav{
		width: 180px;
		height: 96px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: none;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

	nav#_search_nav{
		display: none;
		
		width: 180px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
		
	nav#_doc_nav_static{
		width: 180px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: none;
		}
}



@media only screen
	and (min-width: 320px) 
	and (max-width: 359px){
	
	nav#_logo_nav{
		width: 320px;
		height: 96px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: none;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

	nav#_search_nav{
		display: none;
		
		width: 320px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 320px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: none;
		}
}



@media only screen
	and (min-width: 360px) 
	and (max-width: 539px){
	
	nav#_logo_nav{
		width: 360px;
		height: 96px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: none;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

	nav#_search_nav{
		display: none;
		
		width: 360px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 360px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: none;
		}
}



@media only screen
	and (min-width: 540px) 
	and (max-width: 719px){
		
	nav#_logo_nav{
		width: 540px;
		height: 96px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: none;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

	nav#_search_nav{
		display: none;
		
		width: 540px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 540px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: none;
		}
}



@media only screen
	and (min-width: 720px) 
	and (max-width: 959px){
		
	nav#_logo_nav{
		width: 720px;
		height: 96px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: none;

			margin: 0 auto;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: none;

			float: none;

			margin: 0 auto;
			padding: 0;
		}
	
	nav#_search_nav{
		display: none;
		
		width: 720px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 720px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: none;
		}
}



@media only screen
	and (min-width: 960px) 
	and (max-width: 1079px){
	
	nav#_logo_nav{
		width: 960px;
		height: 48px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: left;

			margin: 0;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: block;

			float: right;

			margin: 0;
			padding: 0;
		}

	nav#_search_nav{
		display: block;
		
		width: 960px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 960px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: block;
		}
}



@media only screen
	and (min-width: 1080px) 
	and (max-width: 1279px){
	
	nav#_logo_nav{
		width: 1080px;
		height: 48px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: left;

			margin: 0;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: block;

			float: right;

			margin: 0;
			padding: 0;
		}

	nav#_search_nav{
		display: block;
		
		width: 1080px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 1080px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: block;
		}
}



@media only screen
	and (min-width: 1280px) 
	and (max-width: 1439px){
	
	nav#_logo_nav{
		width: 1280px;
		height: 48px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: left;

			margin: 0;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: block;

			float: right;

			margin: 0;
			padding: 0;
		}

	nav#_search_nav{
		display: block;
		
		width: 1280px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 1280px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: block;
		}
}



@media only screen
	and (min-width: 1440px) 
	and (max-width: 2559px){
	
	nav#_logo_nav{
		width: 1440px;
		height: 48px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: left;

			margin: 0;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: block;

			float: right;

			margin: 0;
			padding: 0;
		}

	nav#_search_nav{
		display: block;
		
		width: 1440px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 1440px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: block;
		}
}



@media only screen
	and (min-width: 2560px){

	nav#_logo_nav{
		width: 2560px;
		height: 48px;
	}
		nav#_logo_nav #ndsu_logo{
			position: static;
			display: block;

			float: left;

			margin: 0;
			padding: 0;
		}

		nav#_logo_nav #performingarts_logo{
			position: static;
			display: block;

			float: right;

			margin: 0;
			padding: 0;
		}

	nav#_search_nav{
		display: block;
		
		width: 2560px;
		height: 56px;
	}
		div#home_button{
			display: block;
		}

		div#google_search{
			display: block;
		}
	nav#_doc_nav_static{
		width: 2560px;
		height: 48px;
	}
		nav#_doc_nav_computer{
			display: block;
		}
}